<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

    <main>
        <header class="container">
            <h1>OverWatch League</h1>
        </header>
        <div class="container border">
            <div class="homesplit left container">
                <nav>
                    <ul>
                        <p> Standings </p>
                        <li><a href="/team/BostonUprising"> team. </a></li>
                        <li><a href="/team/NewYorkExcelsior"> team. </a></li>
                        <li><a href="/team/PhilidelphiaFusion"> team. </a></li>
                        <li><a href="/team/Los Angles Valiant"> team. </a></li>
                        <li><a href="/team/Los Angles Gladiators"> team. </a></li>
                        <li><a href="/team/Seoul Dynasty"> team. </a></li>
                        <li><a href="/team/Houston Outlaws"> team. </a></li>
                        <li><a href="/team/San Francisco Shock"> team. </a></li>
                        <li><a href="/team/London Spitfire"> team. </a></li>
                        <li><a href="/team/Dallas Fuel"> team. </a></li>
                        <li><a href="/team/Florida Mayhem"> team. </a></li>
                        <li><a href="/team/Shanghai Dragons"> team. </a></li>

                    </ul>
                </nav>
            </div>
            <div class="home-split right container">
                {{{body}}}
            </div>
            <footer class="container">

            </footer>
        </div>
    </main>

</body>
