<ul>

     <img class="teampage" ="" alt="">
     <h> The team <h>
         <tr>
             <th>Ingame name</th>
             <th>First name</th>
             <th>Last name</th>
             <th>Nationality</th>
         </tr>
         <tr>
             <td>{{gamertag}} </td>
             <td> {{firstname}}</td>
             <td> {{lastname}} </td>
             <td> {{Nationality}}</td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
       </tr>
        <tr>
           <td> </td>
           <td> </td>
           <td> </td>
           <td> </td>
      </tr>
        <tr>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
     </tr>
        <tr>
         <td> </td>
         <td> </td>
         <td> </td>
         <td> </td>
    </tr>
        <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
   </tr>
    <tr>
       <td> </td>
       <td> </td>
       <td> </td>
       <td> </td>
  </tr>
    <tr>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
 </tr>
    <tr>
     <td> </td>
     <td> </td>
     <td> </td>
     <td> </td>
</tr>
    <tr>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
</tr>
    <tr>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
</tr>
    <tr>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
</tr>

</ul>
